@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
html{
    overflow-x: hidden;
}
.l-section--hero {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/bg-computer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  color: rgb(245, 236, 236);
}

.l-section--hero::before {
  content: "";
  height: 100%;
  left: -50%;
  position: absolute;
  top: 90%;
  transform-origin: right;
  transform: skewY(10deg);
  width: 100%;
}

.l-section--hero::after {
  content: "";
  height: 100%;
  right: -50%;
  position: absolute;
  top: 90%;
  transform-origin: left;
  transform: skewY(-10deg);
  width: 100%;
}

.l-section--hero::before,
.l-section--hero::after {
  background-color: rgb(253, 253, 253);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90vw;
  position: absolute;
  top: 15px;
}

header p {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: block;
  color: white;
}

header li {
  list-style: none;
  display: inline-block;
}

header li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: rgb(245, 236, 236);
  font-weight: 500;
  padding: 30px;
}

.container-hero{
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%); 
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: block;
}
.container-hero h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    padding: 30px;
}

.container-hero p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.foto{
    position: relative;
    z-index: 2;
    text-align: center;
    top: -100px;
}

img{
    width: 165px;
    height: 165px;
    border-radius: 100%;
    border: 3px #0352FF solid;
}