@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins:wght@400;500;700&display=swap');

:root {

  --default-text-color: rgb(65, 65, 65);

  --default-text-color-light: rgb(96, 96, 96);

  --dark-color: rgb(3, 82, 255);

  --light-color: rgb(78, 134, 255);
}

@viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins, monospace;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

footer p {
  padding: 30px 0;
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  color: whitesmoke;
  width: 90vw;
  position: absolute;
  top: 15px;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: block;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__list a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: whitesmoke;
  padding: 30px;
}

.header__list a:hover {
  color: var(--default-text-color);
}

/* section 1 */
.bgSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('assets/bg-computer.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  color: rgb(245, 236, 236);
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.bgSection:before {
  content: '';
  height: 200%;
  left: -50%;
  position: absolute;
  top: 90%;
  transform-origin: right;
  transform: skewY(10deg);
  width: 100%;
}

.bgSection:after {
  content: '';
  height: 200%;
  right: 0;
  position: absolute;
  top: 90%;
  transform-origin: left;
  transform: skewY(-10deg);
  width: 51%;
}

.bgSection:before , .bgSection:after {
  background-color: rgb(253, 253, 253);
}

.bgSection__container {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: block;
}

.bgSection__textContainer {
  display: flex;
  flex-direction: column;
}

.bgSection__container h1 {
  font-weight: 500;
  font-size: 72px;
  padding: 30px 0 30px 6px;
}

.bgSection__container p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

.imgContainer {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgContainer img {
  width: 165px;
  height: 165px;
  border-radius: 100%;
  border: 3px var(--dark-color) solid;
}

/* seção description */
main {
  position: relative;

  /* top: -100px; */
}

.description {
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.description__container {
  text-align: center;
  width: 53%;
}

.description__container h2 {
  color: var(--default-text-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.description__title {
  color: var(--default-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.description__container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--default-text-color-light);
  padding-top: 30px;
}

/* skills */
#skills {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.skills__item {
  width: 380px;
  height: 260px;
  border-radius: 3%;
  border: 2px solid rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  margin: 0 10px 55px;
}

.skills__item:hover {
  border: 2px solid var(--dark-color);
}

.skills__image {
  height: 50px;
  width: 50px;
  position: relative;
  top: -40px;
  left: 40px;
}

.skills__image__container {
  width: 80px;
  height: 80px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__image__container img {
  width: 24px;
  height: 24px;
}

.title__section {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-color);
  padding: 56px 0;
}

.title__section--port {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-color);
  padding: 0 0 56px;
}

.skills__item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--default-text-color);
  padding: 15px;
  padding-left: 40px;
}

.skills__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--default-text-color-light);
  padding: 15px;
  padding-left: 40px;
}

#portfolio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-color: white;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.project {
  width: 380px;
  height: 260px;
  border-radius: 3%;
  position: relative;
  margin: 0 10px 55px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  transition: 0.5s ease-out;
  overflow: visible;
}

.project:nth-child( 1 ) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://tipscode.com.br/uploads/2020/04/cometchat-1024x546.png');
  background-size: cover;
}

.project:nth-child( 2 ) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVfry6jefZzn_2IkCo9z1LnPbcRp-0OTeFAw&usqp=CAU');
  background-size: cover;
}

.project:hover {
  border-color: var(--dark-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.project:nth-child( 1 ):hover {
  background: url('https://tipscode.com.br/uploads/2020/04/cometchat-1024x546.png');
  background-size: cover;
}

.project:nth-child( 2 ):hover {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVfry6jefZzn_2IkCo9z1LnPbcRp-0OTeFAw&usqp=CAU');
  background-size: cover;
}

.project__details {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: white;
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.project:hover .project__details {
  display: none;
}

.project__button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--light-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.project:hover .project__button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* Text */
.project__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: white;
}

#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  overflow: hidden;
}

.contato__items {
  width: 50vw;
  padding: 0 5vw;
}

.contato__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1500px;
}

.contato__item {
  display: flex;
  width: 231px;
  height: 80px;
  margin-bottom: 50px;
}

.contato__item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--default-text-color);
  padding: 5px 0;
}

.contato__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--default-text-color-light);
  padding: 0 0 5px;
  white-space: nowrap;
}

.icon__container {
  padding: 0 28px 0 0;
  border-right: 1px solid whitesmoke;
  height: 80px;
  display: flex;
  align-items: center;
}

.icon__container img {
  width: 38px;
  height: 38px;
}

.contato__text {
  padding: 0 0 0 28px;
}

.form__group {
  display: flex;
  width: 100%;
}

.form__group input {
  height: 57px;
}

.form__group input , textarea {
  margin: 10px;
  border: 1px solid rgba(196, 196, 196, 0.568);
  border-radius: 2%;
  width: 100%;
  color: rgba(96, 96, 96, 70%);
  background-color: rgba(165, 165, 165, 0);
  text-indent: 10px;
}

#nome {
  width: 50%;
}

#email {
  width: 50%;
}

button {
  margin: 50px;
  width: 210px;
  height: 70px;
  background: var(--light-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: white;
  border: none;
}

button:hover {
  background: var(--dark-color);
}

form {
  text-align: center;
  width: 50vw;
}

footer {
  overflow: hidden;
  background: var(--default-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.footer__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-text-color-light);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 30px 30px 0;
  position: relative;
  top: -20px;
}

/* media */

@media only screen and ( max-width : 815px ) {

  /* Big smartphones [426px -> 600px] */
  header nav {
    display: none;
  }

  .description__container {
    width: 80%;
  }

  .contato__items {
    width: 100vw;
    margin: 0 10%;
  }

  .form__section {
    display: none;
  }

  #portfolio {
    height: 750px;
  }

}

@media only screen and ( max-width : 425px ) {

  /* Small smartphones [325px -> 425px] */
  .skills__item {
    width: 340px;
  }

  .project {
    width: 340px;
  }

  .contato__items {
    width: 100vw;
    margin: 0;
}
}

.typed-cursor {
  animation: blinkCursor 500ms steps(30) infinite normal,
    typing 3s 1s normal both;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
}

@keyframes blinkCursor {

  from {
    border-right-color: white;
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes typing {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing-mobile {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes expand {

  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.expand {
  animation: expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
}
